
$color-white:white;
$color-black: black;
$color-gray: hsl(0, 0%, 59%);
$font-libre-franklin:'Libre Franklin';
$font-weight-light: 300;
$font-weight-semi-bold:600;
$font-weight-bold: bold;
$color-violet: hsl(257, 40%, 49%);
$color-blue: hsl(223, 87%, 63%);
$size-100: 100%;
$size-10: 10%;
$size-50:50%;
$small: 576px;
$medium:768px;
$large: 992px;
$extra-large:1200px;

