
$color-white:white;
$color-black: black;
$color-gray: rgb(180, 179, 179);
$margin:10px;
$font-poppin-regular:'Poppins-regular';
$font-poppin-bold:'Poppins-bold';
$font-open-sans: 'Open Sans';
$font-weight-bold: bold;
$color-violet: hsl(257, 40%, 49%);
$size-100: 100%;
$size-10: 10%;
$size-50:50%;
$small: 576px;
$medium:768px;
$large: 992px;
$extra-large:1200px;

