form{
  margin-top: $size-2rem - 1rem;
  width:$size-50;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
  
  .form-group-email{
    width: $size-50 + 10%;
    max-width: $size-100;
    margin-right: 20px;

    #email{
      @include customInput($size-100, $color-gray, 1px , 25px, 17px 25px );
    }
  }


}